In [3]:
t=int(input("請輸入氣溫=>"))
if t<20:
    print("加件外套!")
print("今天氣溫="+str(t))
    
m=int(input("請輸入最大值=>"))
s=0
for i in range(1,m+1):
    s=s+i
print("總和="+str(s))
for i in range(1,11,2):
    print("range(1,11,2)的值="+str(i))
m=int(input("請輸入階層數=>"))
r=1
n=1
while n<=m:
    r=r*n
    n=n+1
print("階層值! ="+str(r))

請輸入氣溫=>67
今天氣溫=67
請輸入最大值=>98
總和=4851
range(1,11,2)的值=1
range(1,11,2)的值=3
range(1,11,2)的值=5
range(1,11,2)的值=7
range(1,11,2)的值=9
請輸入階層數=>6
階層值! =720

In [4]:
def print_msg():
    print("歡迎學習!")
def is_valid_num(no):
    if no>=0 and no<=200.0:
        return True
    else:
        return False
def convert_to_f(c):
    f=(9.0*c)/5.0+32.0
    return f
print_msg()

歡迎學習!

## dict:remove,add,get,setdefault

In [6]:
d={"cat":"white","dog":"black"}
print(d["cat"])
print("cat" in d)
d["pig"]="pink"
print(d["pig"])
print(d.get("monkey","N/A"))
print(d.get("pig","N/A"))
del d["pig"]
print(d.get("pig","N/A"))

white
True
pink
N/A
pink
N/A

In [7]:
d={"chicken":2,"dog":4,"cat":4,"spider":8}
for animal in d:
    legs=d[animal]
    print(animal,legs)
for animal,legs in d.items():
    print("動物: %s 有 %d 隻腳" % (animal,legs))

chicken 2
dog 4
cat 4
spider 8
動物: chicken 有 2 隻腳
動物: dog 有 4 隻腳
動物: cat 有 4 隻腳
動物: spider 有 8 隻腳

In [8]:
d1={x:x*x for x in range(10)}
d2={x:x*x for x in range(10) if x%2==1}

In [9]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [10]:
d2

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [11]:
animals={"cat","dog","pig"}
print("cat" in animals)
print("fish" in animals)
animals.add("fish")

True
False

In [12]:
print("fish" in animals)
print(len(animals))
animals.add("cat")

True
4

In [13]:

print(len(animals))
animals.remove('cat')
print(len(animals))

4
3

In [14]:
animals={"cat","dog","pig","fish"}
for index,animal in enumerate(animals):
    print('#%d:%s' % (index,animal))

#0:cat
#1:fish
#2:pig
#3:dog

In [15]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C=A&B
C=A.intersection(B)
C=A|B
C=A.union(B)
C=A-B
C=A.difference(B)
C=A^B
C=A.symmetric_difference(B)

In [16]:
t=(5,6,7,8)
print(type(t))
print(t)
print(t[0])
print(t[1])
print(t[-1])
print(t[-2])
for ele in t:
    print(ele,end=" ")

<class 'tuple'>
(5, 6, 7, 8)
5
6
8
7
5 6 7 8

In [19]:
class Student:
    def __init__(self,name,grade):
        self.name=name
        self.grade=grade
    def displayStudent(self):
        print("姓名="+self.name)
        print("成績="+str(self.grade))
    def whoami(self):
        return self.name
s1=Student("陳會安",80)
s1.displayStudent()
print("s1.whoami()="+s1.whoami())
print("s1.name="+s1.name)
print("s1.grade="+str(s1.grade))

姓名=陳會安
成績=80
s1.whoami()=陳會安
s1.name=陳會安
s1.grade=80

In [21]:
print("多吃水果")
print(100,"多吃水果",60)
print(100,"多吃水果",60,sep="&")
print(100,60,sep="&",end="")

多吃水果
100 多吃水果 60
100&多吃水果&60
100&60100&60

In [4]:
name="林小明"
score=80
print("%s 的成績為 %d" % (name,score))

林小明 的成績為 80

In [5]:
price=23.8
print("價格為%8.2f" % price)

價格為   23.80

In [6]:
name="林小明"
score=80
print("{} 的成績為 {}".format(name,score))

林小明 的成績為 80

In [7]:
print(type(56))
print(type("How are you?"))
print(type(True))

<class 'int'>
<class 'str'>
<class 'bool'>

In [22]:
money=int(input("請輸入購物金額:"))
if(money>=10000):
    if(money>=100000):
        print(str(money*0.8),end="元\n")
    elif(money>=50000):
        print(str(money*0.85),end="元\n")
    elif(money>=30000):
        print(str(money*0.9),end="元\n")
    else:
        print(str(money*0.95),end="元\n")
else:
    print(str(money),end="元\n")

請輸入購物金額:9890
9890元

In [25]:
list1=["香蕉","蘋果","橘子"]
for s in list1:
    print(s,sep=",")

香蕉
蘋果
橘子

In [26]:
for i in range(1,11):
    if(i==6):
        break
    print(i,end=",")

1,2,3,4,5,

In [27]:

for i in range(1,11):
    if(i==6):
         continue
    print(i,end=",")

1,2,3,4,5,7,8,9,10,

In [28]:
total=n=0
while(n<10):
    n+=1
    total+=n
print(total)

55

In [29]:
tuple2=(1,"香蕉",True)
tuple3=("香蕉","蘋果","橘子")
print(tuple3[1])

蘋果

In [30]:
tuple4=(1,2,3,4,5)
len(tuple4)

5

In [31]:
dict1={"香蕉":20,"蘋果":50,"橘子":30}
n=dict1.setdefault("蘋果")
n

50

In [16]:
dict1={"香蕉":20,"蘋果":50,"橘子":30}
n=dict1.setdefault("蘋果",100)
n

50

In [17]:
dict1={"香蕉":20,"蘋果":50,"橘子":30}
n=dict1.setdefault("鳳梨")
dict1

{'香蕉': 20, '蘋果': 50, '橘子': 30, '鳳梨': None}

In [32]:
def calsum(*params):
    total=0
    for param in params:
        total+=param
    return total
print("不定數目範例:")
print("2個參數:calsum(4,5)=%d" % calsum(4,5))
print("3個參數:calsum(4,5,12)=%d" % calsum(4,5,12))
print("4個參數:calsum(4,5,12,8)=%d" % calsum(4,5,12,8))

不定數目範例:
2個參數:calsum(4,5)=9
3個參數:calsum(4,5,12)=21
4個參數:calsum(4,5,12,8)=29

In [33]:
def myFun(arg1, *argv): 
    print ("First argument :", arg1) 
    for arg in argv: 
        print("Next argument through *argv :", arg) 
myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

First argument : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : GeeksforGeeks

In [34]:
def myFun(**kwargs):  
    for key, value in kwargs.items(): 
        print ("%s == %s" %(key, value)) 
  
# Driver code 
myFun(first ='Geeks', mid ='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [35]:
def scope():
    var1=1
    print(var1,var2)
var1=10
var2=20
scope()
print(var1,var2)

1 20
10 20

In [36]:
def scope():
    global var1
    var1=1
    var2=2
    print(var1,var2)
var1=10
var2=20
scope()
print(var1,var2)

1 2
1 20

In [21]:
innsum=0
list1=[]
while(innsum!=-1):
    innsum=int(input("請輸入正整數(-1結束):"))
    list1.append(innsum)
list1.pop()
print("共輸入%d個數" % len(list1))
print("最大數為:%d" % max(list1))
print("最小數為:%d" % min(list1))
print("輸入數的總和為:%d" % sum(list1))
print("輸入數由大到小排序為:{}".format (sorted(list1,reverse=True)))

請輸入正整數(-1結束):5
請輸入正整數(-1結束):4
請輸入正整數(-1結束):-1
共輸入2個數
最大數為:5
最小數為:4
輸入數的總和為:9
輸入數由大到小排序為:[5, 4]

In [37]:
pow(3,4,7)

4

In [2]:
from collections import defaultdict
import time
start_time = time.time()
mode_dict = defaultdict(lambda:0)
for value in app_train[~app_train['AMT_ANNUITY'].isnull()]['AMT_ANNUITY']:
    mode_dict[value] += 1    
mode_get = sorted(mode_dict.items(), key=lambda kv: kv[1], reverse=True)
print(mode_get[0])
print("Elapsed time: %.3f secs" % (time.time() - start_time))

NameError: name 'app_train' is not defined

In [11]:
import pandas as pd
A=pd.DataFrame([{"target":"parry","score":10},{"target":"parry2","score":50}])
A

   score  target
0     10   parry
1     50  parry2

In [12]:
by_rating = defaultdict(list)
for _, row in A.iterrows():
    by_rating[row.target].append(row.to_dict())
    print(row)

score        10
target    parry
Name: 0, dtype: object
score         50
target    parry2
Name: 1, dtype: object

In [13]:
by_rating

defaultdict(list,
            {'parry': [{'score': 10, 'target': 'parry'}],
             'parry2': [{'score': 50, 'target': 'parry2'}]})