## str.extract,str.capitalize,str.lower,str.len,str.startswith,str.split,str.splitlines,str.findall,str.get_dummies,str.get,str.contains

## str.join(),str.strip(),str.replace()

## s.capitalize, s.upper, s.rjust, s.center, s.replace, s.strip

## re.sub(pattern,repl,string,count,flags)
#### pattern:表示正则表达式中的模式字符串；
#### repl:被替换的字符串（既可以是字符串，也可以是函数）；
#### string:要被处理的，要被替换的字符串；
#### count:匹配的次数

## 標點符號:string.punctuation

In [ ]:
def preprocess_text(text):
    if type(text) == float:
        print(text)
    text = text.lower()
    text = re.sub(r"([.,!?])", r" \1 ", text)
    text = re.sub(r"[^a-zA-Z.,!?]+", r" ", text)
    return text
    
final_reviews.text = final_reviews.text.apply(preprocess_text)

In [ ]:
s="hello"
print(s.capitalize())
print(s.upper())
print(s.rjust(7))
print(s.center(7))
print(s.replace('l','L'))
print(' python '.strip())

In [1]:

str1='welcome to python'
print(str1.islower())
print("1000".isdigit())

True
True

In [2]:
str3="23\n12\n45\n56"
list3=str3.splitlines()
print(list3)

['23', '12', '45', '56']

In [ ]:
str1="-"
list1=['This','is','a','book.']
print(str1.join(list1))

In [ ]:
str1=" Python is a \nprogramming language.\n\r "
str2=str1.replace("\n","").replace("\r","")
print("'"+str2+"'")
print("'"+str2.strip()+"'")

In [ ]:
import string
str1="#$%^Python -is- *a* $%programming_ language.$"
print(string.punctuation)
list1=str1.split(" ")
for item in list1:
    print(item.strip(string.punctuation))

In [ ]:
baseurl="http://example.com"
list1=["http://www.example.com/test","http://example.com/word","media/ex.jpg","http://www.example.com/index.html"]
def geturl(baseurl,source):
    if source.startswith("http://www."):
        url="http://"+source[11:]
    elif source.startswith("http://"):
        url=source
    elif source.startswith("www"):
        url=source[4:]
        url="http://"+source
    else:
        url=baseurl+"/"+source
    if baseurl not in url:
        return None
    return url

for item in list1:
    print(geturl(baseurl,item))

In [ ]:
datatotal['Title'] = datatotal['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [ ]:
for datatotal in datostotales:
    datatotal['Cabin'] = datatotal['Cabin'].str[:1]

In [1]:
data=['peter','Paul','MARY','gUIODO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guiodo']

In [2]:
import pandas as pd
names=pd.Series(data)
names

0     peter
1      Paul
2      MARY
3    gUIODO
dtype: object

In [3]:
names.str.capitalize()

0     Peter
1      Paul
2      Mary
3    Guiodo
dtype: object

In [4]:
monte=pd.Series(['Graham Chapman','John Cleese','Terry Gilliam','Eric Idle','Terry Jones','Michael Palin'])

In [5]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [6]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [7]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [8]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [9]:
monte.str.extract('([A-Za-z]+)')

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

In [10]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [11]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [12]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [13]:
full_monte=pd.DataFrame({'name':monte,'info':['B|C|D','B|D','A|C','B|D','B|C','B|C|D']})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

In [14]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

In [15]:
!curl -O http://openrecipes.s3.amazonaws.com/recipeitems-latest.json.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    20  100    20    0     0     20      0  0:00:01 --:--:--  0:00:01    35

In [20]:
!gunzip recipeitems-latest.json.gz

'gunzip' 不是內部或外部命令、可執行的程式或批次檔。

In [17]:
try:
    recipes=pd.read_json('recipeitems-latest.json')
except ValueError as e:
    print("ValueError:",e)

ValueError: Expected object or value

In [19]:
with open('recipeitems-latest.json') as f:
    line=f.readline()
pd.read_json(line).shape

FileNotFoundError: [Errno 2] No such file or directory: 'recipeitems-latest.json'

In [ ]:
recipes.description.str.contains('[Bb]reakfast').sum()

In [21]:
spice_list=['salt','pepper','oregano','sage','parsley','rosemary','tarragon','thyme','paprika','cumin']

In [ ]:
import re
spice_df=pd.DataFrame(dict((spice,recipes.ingredients.str.contains(spice,re.IGNORECASE)) for spice in spice_list))

## 正規化

In [ ]:
import re
phone="0938-111-4567"
num=re.sub(r"#.*$","",phone) #Pyhone number
print(num)
num=re.sub(r"\D","",phone)
print(num)

In [ ]:
list1=["","/","path/","/path","/path/","//path/","/path//"]
def getPath(path):
    if path:
        if path[0]!="/":
            path="/"+path
        elif path[-1]!="/":
            path=path+"/"
            path=re.sub(r"/{2,}","/",path)
        else:
            path="/"
        return path
for item in list1:
    item=getPath(item)
    print(item)